.user-header {
  padding: 20px;
}
.user-table {
  justify-items: center;
}
.table {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.pagination {
  margin: 10px;
  justify-items: end;
}

.loading {
  padding: 20px;
}
